* {
    margin:0;
    padding:0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(5, 25, 41);
}

#header1 {
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#header2 {
    color: rgb(43, 168, 95);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header3 {
    color: rgb(194, 191, 191);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    border: none;
    font-size: 20px;
    border-radius: 3px;
    background-color: rgb(43, 168, 95);
    color: white;
    padding: 15px;
    margin-top: 60px;
    display: block;
    margin-right: auto;
}

hr {
    margin-top: 20px;
    color: rgb(0, 18, 34);
}

#password1 {
    border: none;
    font-size: 20px;
    border-radius: 3px;
    background-color: rgb(0, 18, 34);
    color: rgb(57, 179, 108);
    margin-right: 15px;
    padding: 15px;
    width: 45%;
    margin-left: 2,5%;
    display: inline-flex;
    box-sizing: border-box;
}

#password2 {
    border: none;
    font-size: 20px;
    border-radius: 3px;
    background-color: rgb(0, 18, 34);
    color: rgb(57, 179, 108);
    margin-top: 20px;
    padding: 15px;
    width: 45%;
    display: inline-flex;
    box-sizing: border-box;
}
